body{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Container for device view */
.container{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    color: #333;

}

/* FAQ Sections, Questions and Answers*/
.faq-section{
    margin-bottom: 30px;
}

.faq-question{
    font-size:18px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq-answer{
    display: none;
    font-size: 16px;
    margin-bottom: 15px;
}

