/*          SKYLOYALTY PAGE STYLES         */
body{
    background-image: url(images/Loyalty\ Rewards.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Styling */
nav{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

/* Container for Device View */
.container{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    color: #333;
}

p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Style for Program overview Section */
.overview-section{
    margin-bottom: 30px;
}

/* Style for benefits section */
.benefits-section{
    color: #ff6600;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    margin-bottom: 10px;
}

/* Style for tiers section */
.tiers-section{
    margin-bottom: 30px;
}

.tiers-section h2{
color: #ff6600;
}


